body{
    margin: 0;
    padding: 20px;
    background-image: url(./pics/back.jpg) ;
    background-repeat: no-repeat;
    inline-size: block;
    background-size: 100%;
    width: 100%;
    height: 100%;
    background-color: rgb(90, 111, 141);
    
    
}

.artistName{
    font-size: 3vw;
    padding-right: 20px;
}
.artistImage{
    width: 650px ;
    padding-top: 20px;
    padding-bottom: 70px;
    padding-left: 20px;
}
.searchInput{
    height: 25px;
    border: 2px  solid darkgray;
    border-radius: 10px;
    padding: 2px;
    margin: 2px;
    margin-right: 50px;

}
.button{
    height: 30px;
    padding: 2px;
    margin: 2px;
    border-radius: 10px;
    background-color: white;
    border: 2px  solid darkgray;
    color: rgb(78, 74, 74) ;
    
}
.headerStyle{
    font-size: 50px;
    padding-top: 230px;
    display: flex;
    justify-content: center;
}

.desc{
    font-size: 25px;
    display: flex;
    justify-content:center;
}
.formStyle{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-right: 15px;
    align-items: center;

    
}
.resultStyle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 200px;
    width: 800px;
}

.infoStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
    width: 800px;

}
.tranStyle{ 
    display: flex;
    justify-content: center;
    padding-left: 20px ;
   
}

@media only screen and (max-width: 790px){
    body{
      background-image: none;
          }
    .artistImage{
            padding-bottom: 30px;
            width: 400px;
            height: 300px;
        }
        }
@media only screen and (max-width: 420px){
  body{
    background-image: none;
        }
 .desc{
 width: 350px;
 font-size: 24px;
 margin-left: 40px;
    }
 .headerStyle{
 width: 90%;
 padding-top: 50px;
 font-size: 35px;
 margin-left: 40px;
    }
 .artistImage{
    padding-left: 10px;
    padding-bottom: 30px;
    width: 200px;
    height: 200px;
   }
    
 .searchInput{
    margin-right: 20px;
    }

 .formStyle{
   width: 300px;
   margin-left: 40px;
    }
   
 .artistName{
    padding-right: 5px;
    font-size: 16px;
       }

 .resultStyle{
   width: 300px;
   padding-left: 20px;
   font-size: 14px;
    }

.infoStyle{
    width: 300px;
  
}
}

@media only screen and (max-width: 340px){
    body{
    background-image: none;
    }
    .desc{
        width: 280px;
        font-size: 16px;
           }
       
    .headerStyle{
        width: 80%;
    
           }

    .artistImage{
           padding-left: 5px;
           padding-bottom: 30px;
           width: 200px;
           height: 200px;
       }

    .searchInput{
           margin-right: 3px;
       }
       
    .formStyle{
        font-size: 14px;
        width: 270px;
           }
          
    .artistName{
        padding-right: 5px;
        font-size: 16px;
       }

    .resultStyle{
       width: 280px;
       padding-left: 0px;
       margin-left: 10px;
       }
       
    .infoStyle{
           width: 270px;
           font-size: 14px;
       }  

}

















